/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section {
    margin-bottom: 30px;
}

h1, h2, h3 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Amerikaanse stijl */
header {
    background-color: #c00;
}

footer {
    background-color: #c00;
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

h1, h2, h3 {
    color: #c00;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    border-bottom: 2px solid #c00;
    padding-bottom: 10px;
}

ul li::before {
    content: "\2022";
    color: #c00;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
